# Comma-separated list of RPC websocket endpoints to query from
# [required]
ENDPOINTS=""

# Comma-separated list of validator addresses to watch and alert if they are down or miss blocks (use the operator address, requires the 'signatures' or 'validator_set' event)
# [optional]
VALIDATORS_WATCHLIST=""

# Comma-separated list of events to watch and alert if they happen [chain,block_speed,validator_set_size,validators,signatures]
# Events:
# - chain: alert if the chain is not progressing (no new blocks)
# - block_speed: alert if the block speed is too low (used with BLOCK_SPEED_THRESHOLD and BLOCK_SPEED_INFO_INTERVAL)
# - validator_set: alert if the validator set changes
# - signatures: low level alert when validators miss blocks, high level alert when watched validators miss blocks
[required]
EVENTS_WATCHLIST=""

# The number of blocks to wait before sending a low level alert about the average chain block speed
BLOCK_SPEED_INFO_INTERVAL=""

# The difference in milliseconds between average block speed and last block time to trigger a medium level alert
BLOCK_SPEED_THRESHOLD=""

# A slack webhook URL to send alerts to 
# [optional]
# Note:
# If no SLACK_INFO, SLACK_WARNING, or SLACK_CRITICAL is set, all alerts will be sent to this channel
SLACK_WEBHOOK_URL=""

# A slack channel to send low level alerts to
# [optional]
SLACK_INFO=""

# A slack channel to send medium level alerts to
# [optional]
SLACK_WARNING=""

# A slack channel to send high level alerts to
# [optional]
SLACK_CRITICAL=""
